<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/vue.min.js"></script>
    <style>
        .class1{
            background: #444;
            color: #eee;
        }
    </style>
    <title>Vue Template</title>
</head>
<body>
<div id="app">
    <div v-html="message"></div>
    <label for="r1">修改颜色</label><input type="checkbox" v-model="use" id="r1">
    <br><br>
    <div v-bind:class="{'class1': use}">
        v-bind:class 指令
    </div>
    {{5+5}}<br>
    {{ ok ? 'YES' : 'NO' }}<br>
    {{ message.split('').reverse().join('') }}
    <div v-bind:id="'list-' + id">菜鸟教程</div>
    <p v-if="seen">现在你看到我了</p>
    <pre><a v-bind:href="url">菜鸟教程</a></pre>
    <!--目前还不知道怎么使用-->
    <a v-on:click="doSomething+=100">hello world</a>
    <div>{{doSomething}}</div>

    <p v-if="seen">现在你看到我了</p>
    <template v-if="ok">
        <h1>菜鸟教程</h1>
        <p>学的不仅是技术，更是梦想！</p>
        <p>哈哈哈，打字辛苦啊！！！</p>
    </template>

    <div v-if="Math.random() > 0.5">
        Sorry
    </div>
    <div v-else>
        Not sorry
    </div>

    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>

    <h1 v-show="ok">Hello!</h1>

    <!--v-for 指令需要以 site in sites 形式的特殊语法， sites 是源数据数组并且 site 是数组元素迭代的别名。-->
    <ol>
        <li v-for="site in sites">
            {{ site.name }}
        </li>
    </ol>

    <template v-for="site in sites">
        <li>{{ site.name }}</li>
        <li>--------------</li>
    </template>


    <ul>
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>

    <ul>
        <li v-for="(value, key, index) in object">
            {{ index }}. {{ key }} : {{ value }}
        </li>
    </ul>

    <ul>
        <li v-for="n in 10">
            {{ n }}
        </li>
    </ul>




</div>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'RUNOOB',
            use: false,
            ok: true,
            id: 1,
            seen: true,
            doSomething: 'hello world',
            url: 'http://www.runoob.com',
            type: 'C',
            sites: [
                { name: 'Runoob' },
                { name: 'Google' },
                { name: 'Taobao' }
            ],
            object: {
                name: '菜鸟教程',
                url: 'http://www.runoob.com',
                slogan: '学的不仅是技术，更是梦想！'
            }
        }
    })
</script>

</body>
</html>